body {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
  font-family: Roboto;
  background: #849d8f;

}
h1 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: Roboto;
}
h2 {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  font-weight: bold;
  font-family: Roboto;
}
p {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: bold;
  font-family: Roboto;

}
a {
  color: #fff;
}


.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-fb-ico {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-full_cart {
    width: 21px;
    height: 20px;
    background-position: -5px -47px;
}

.sprite-heart-ico {
    width: 15px;
    height: 13px;
    background-position: -5px -77px;
}

.sprite-ins-ico {
    width: 32px;
    height: 32px;
    background-position: -5px -100px;
}

.sprite-login-ico {
    width: 21px;
    height: 19px;
    background-position: -5px -142px;
}

.sprite-search-ico {
    width: 17px;
    height: 17px;
    background-position: -5px -171px;
}

.sprite-tw-ico {
    width: 33px;
    height: 32px;
    background-position: -5px -198px;
}

.sprite-vk-ico {
    width: 32px;
    height: 32px;
    background-position: -5px -240px;
}


/*вспомогательные штуки*/
.outline {
  border: 1px solid red;
}

.container {
  width: 1200px;

  margin: auto;
}
.logo-index {
  width: 160px;
  float: left;
}
.nav-list {
  float: left;
  padding: 10px 15px;
  margin-left: 0px;
  list-style: none;
}
  .nav-list a {
  padding: 8px 10px;
  text-decoration: none;

}

nav li {
  display: inline-block;
  vertical-align: middle;

}
.main-navigation {
  width: 600px;
  float: left;
  margin-bottom: 40px;
}
.user-block {
  position: relative;
  width: 290 px;
  float: right;
}
.user-block-list a {

  text-decoration: none;
  padding: 8px 10px;
}
.user-block-list li {
  display: inline-block;
}
.contact-info {
  text-align: right;
  position: absolute;
  top: 40px;
  right: 10px;
}
.work-time {
  font-size: 14px;
  line-height: 16px;

}
.contact-info a {
  font-size: 22px;
  line-height: 24px;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  display: inline-block;
  padding-left: 20px;
}
.breadcrumbs a {

  text-decoration: underline;
  text-decoration-color: #aebeb5;
  color: #e7ebe9;
}
.breadcrumbs li:first-child {
  padding-left: 0;
}

.filter {
  width: 880px;
  margin-bottom: 30px;
}

.filer-sort {
  width: 195px;
  float: left;
  display: block;
}
.filer-price {
  width: 220px;
  margin-left: 15px;
  float: left;
  display: block;
}
.fat-content {
  width: 415px;
  margin-left: 15px;
  float: left;
  display: block;
}
.ingridients {
  width: 705px;
  float: left;
  display: block;
}
.submit-button {
  width: 150px;
  float: left;
  display: block;
  margin-left: 15px;
  padding-top: 55px;

}



.catalog ul {
  padding-left: 0;
}

.catalog li{

  display: inline-block;
  vertical-align: top;
  width: 268px;
  height: 328px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.item-name {
  text-align: center;
}
.item-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-numeration {
  float: right;
}
.page-numeration ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-numeration li {
  display: inline-block;
}
.page-numeration a {

text-decoration: none;
}


.slider {
  margin: 35px 0;
  height: 480px;
}
.special-offer-title {
  font-size: 35px;
  line-height: 41px;
}
.special-offer {
  margin-bottom: 35px;
}
.special-ofer-left {
  width: 560px;
  height: 235px;
  background-color: #800d2a;
  background-image: url(../img/strawberry_font.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  float: left;
}
.special-ofer-right {
  width: 560px;
  height: 235px;
  background-color: #3e1808;
  background-image: url(../img/chockolate_font.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  float: right;
  margin-left: 20px;
}
.about-us {
  min-height: 310px;
  color: #323232;
  font-weight: normal;
  background-color: #efe4c8;
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  border-radius: 20px;
  margin-bottom: 50px;
}
.about-us ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.about-us li {
  margin-bottom: 25px;
}
.about-us-title {
  font-weight: 600;
  color: #323232;
  padding: 0 25px;
  font-size: 24px;
  line-height: 30px;
}

.descripton-left {
  float: left;
  width: 480px;
  height: 180px;
  padding-left: 50px;

}
.description-right {
  float: right;
  width: 480px;
  height: 180px;
  padding-left: 50px;
  margin-left: 30px;
  margin-right: 30px;
}


.popular-hit {
  width: 268px;
  height: 340px;
}

.popular {
  margin-bottom: 35px;
}

.popular li {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
.popular li:first-child {
  margin-left: 0px;
}
.popular ul {
  padding-left: 0px;
}
.index-content {
  margin-bottom: 40px;
}
.index-left {
  width: 560px;
  height: 220px;
  float: left;
}
.index-right {
  width: 560px;
  height: 220px;
  float: right;
}

.map {
  position: relative;
}
.adress-block {
  position: absolute;
  top: 60px;
  right: 25px;

  display: block;
  padding: 25px;
  color: #000;
  width: 310px;
  height: 310px;
  background-color: #ffffff;
  border-radius: 20px;
}
.adress-block a {
  color: inherit;
}
.adress-block p {
  color: inherit;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-footer {
  margin-top: 160px;
  font-size: 13px;
  line-height: 16px;
}

.share {
  float: left;
  width: 270px;
  padding: 10px;
  margin-right: 20px;
  background: #ecf0f1;
}
.share li {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #bdc3c7;
    vertical-align: middle;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
}
.social {
  display: block;
  padding: 20px;
}

.footer-useful {
  margin-left: 50px;
  width: 400px;
  display: block;
  float: left;

}
.firs-column-footer {
  display: inline-block;
  width: 160px;
  display: block;
  float: left;
  padding-left: 25px;
  margin-right: 20px;
  vertical-align: top;
}
.second-column-footer {
  display: inline-block;
  width: 170px;
  display: block;
  float: right;

}
.copyright {
  display: block;
}
.footer-copyright {

  display: block;
  width: 200px;
  float: right;
  width: 250px;
}
