@font-face {
font-family: ALSRubl;
src: url(../fonts/rouble.ttf); /* Путь к файлу со шрифтом */
}
.rubznak {
font-family: ALSRubl;
}


body {
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  background: #849d8f;

}
body > input[type="radio"] {
  display: none;
}
h1 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: Roboto;
}
h2 {

  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  display: block;
}
h3 {
  font-size: 24px;
  font-weight:lighter;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 25px;
  margin-top: 0;

}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.site-wrapper {
  min-width: 1200px;
  min-height: 1000px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;

}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}
.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}
.content-wrapper {
  position: relative;
  width: 1150px;
  margin: 0 auto;
  padding: 0 25px;
}
.content-wrapper-map {
  margin: 0 auto;
}
.container {
  display: inline-block;
  z-index: 1;
  position: relative;
  min-width: 1150px;
  margin: 0 auto;
}


.help {
  background-color: rgba(0, 0, 0, 0.4); /* для демо */
}


.logo-index {
  float: left;
  margin-right: 15px;
}
/*ПоДЛОЖКА У МОРОЖЕНОГО*/
.underlayer {
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 5;
  position: absolute;
    top: -5px;
    left: -15px;
    display: none;


}
.icecream-underlayer {
  position: relative;
  width: 295px;
  min-height: 405px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  cursor: pointer;

}
.btn-icecream {
  position: absolute;
    bottom: 25px;
    left: 45px;
}

/*АНИМАЦИЯ ДЛЯ ФОРМЫ*/
@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

/*ПОЛЕ ОБРАТНОЙ СВЯЗИ*/

}
.feedback {
  display: none;
  position: absolute;
  left: 550px;
  box-sizing: border-box;
  width: 477px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px 25px 25px 25px;

}

.feedback-show {
  display: block;
   animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  box-sizing: border-box;
  width: 265px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  outline: none;
}
.textarea {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  width: 428px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  outline: none;
  resize: none;
}
.feedback-btn {
  float: right;
}
.close-btn {
  position: absolute;
  top: 15px;
 right: 15px;
  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.close-btn::before,
.close-btn::after {
  top: 10px;
 left: 2px;

  content: "";
  position: absolute;

  width: 23px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}
.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}



















/*МЕНЮ*/

.main-menu {
  /*ВСЕ МЕНЮ В СТРОЧКУ*/
  float: left;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  list-style: none;
}
.main-menu > li {
  position: relative;

}
.main-menu .sub-menu {
  position: absolute;
}
.nav-list-link {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); /*ПОДЧЕРКИВАНИЕ ЭЛЕМЕНТОВ МЕНЮ*/
}


.main-menu li {
  float: left; /*БЫЛ ДИСПЛЕЙ ИНЛАЙН*/
margin-right: 10px;
position: relative;
display: block;

}
.main-menu li a {


  display: block;
  position: relative;
  padding: 5px 14px;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.main-menu li a:hover {
  background-color: #ffffff;
  border-radius: 50px;
  color: #000000;
  text-decoration: none;

}
.main-menu > li:hover .sub-menu {
  display: block;
}

.main-menu .sub-menu {
  display: none;
  overflow: hidden;
      box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
      padding: 0;
      margin: 0;
      width: 143px;
      z-index: 2;
      list-style: none;

      border-radius: 5px;
      transition: 0.25s linear opacity;
}
.main-menu ul li {
  margin: 0;

  float: none;
  background: #f8f7f4;
}
.main-menu ul a {
  white-space: nowrap;
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  padding: 7px 20px 7px;
  color: #323232;

}
.main-menu ul a:hover {
  background: #fbded8;
  display: block;
  border-radius: 0;
}

.nav-list-link:hover .nav-list ul {

  top: 90px;

}






.sub-menu-title {
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  padding-top: 13px;
  padding-left: 20px;
  height: 25px;
  color: #000000;
}
.sub-menu-title::after {
  content: "";
    position: absolute;
      bottom: 0px;
    left: 6px;
    width: 128px;
    height: 1px;
    background-color: #d1d0ce;
}
















/*ВХОД*/



.user-block {
  float: right;
  min-width: 267px;
  max-width: 350px;
  font-size: 0;
  text-align: right;
  margin-top: 20px
}
.user-block-item {
  display: inline-block;
    margin-top: 14px;
    font-size: 14px;
    vertical-align: top;
}
.user-block-item:last-child {
  margin-right: 0;
}
.user-block-link {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}
.user-block-link:hover {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: rgba(50, 50, 50, 0.1);
  background: #f8f7f4;
  border-radius: 15px;
}

/*ПОИСК*/



.search-link {
  position: relative;
  display: block;

  width: 33px;
  height: 33px;
  border-radius: 50%;

}
.search-input {

  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background: #ffffff;
  padding: 20px 15px;
  /* z-index: 60555; */
  position: absolute;
  /* border: 1px solid #999999; */
  top: 5px;
  right: 0;
}
.search-input-show {
  display: block;
}
input[type="search"] {
  border-radius: 5px;
    width: 310px;
    padding: 15px;
    border: 1px solid #d3d3d2;
}

.search-link:hover .search-input {
  display: block;
}
.search-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: -4px -440px;
}
.search-link:hover::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  background-image: url(../img/search-hover.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  background-position: 0 0;

}






/*ПОПАП ВХОДА*/

.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}




.login-link {
  margin-left: 10px;
  position: relative;
  padding: 7px 15px 7px 40px;
}
.user-block-item:hover .modal-content-wrapper {
  display: block;

}
.login-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 14px;
  width: 21px;
  height: 19px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -5px -369px;

}
.login-link:hover::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 14px;
  width: 21px;
  height: 19px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;

  background-position: -5px -340px;

/*ВСПЛЫВАЮЩАЯ ФОРМА ВХОДА*/
}
.modal-content-wrapper {
display: none;
padding-top: 5px;
position: relative;;
z-index: 40;
}

.modal-content {
  position: absolute;
  top: 5px;
  right: 0;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  display: block;
  width: 240px;
  padding: 20px 17px;
  border-radius: 5px;
  background: #ffffff;
}


.login-form input[type="text"],
.login-form input[type="password"] {
  width: 240px;
box-sizing: border-box;
margin-bottom: 20px;
padding: 15px;
border-radius: 5px;
font-size: 14px;
font-weight: normal;
line-height: 24px;
color: #999999;
border: 1px solid #d3d3d2;
outline: none;

}

.login-form-link {
  display: inline-block;

  vertical-align: top;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: #323232;
  border-bottom:1px solid rgba(50, 50, 50, 0.3);
}
.login-btn {

  margin-top: 5px; */
  box-sizing: border-box;
  width: 100px;
  height: 45px;
  border: none;
  float: left;
  font-size: 18px;
  line-height: 24px;
  /* padding: 15px 20px; */
  font-weight: bold;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
  outline: none;
}
.login-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);

}
.login-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}



/*КОРЗИНА*/

.cart {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.cart-link {
  padding: 7px 30px 7px 40px;
}
.cart-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 9px;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  background-position: -5px -5px;
}
.cart-link:hover::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 9px;
  background-image: url(../img/cart-hover.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  background-position: 0 0;
}



/*КОНТАКТНАЯ ИНФО*/

.contact-info {
  z-index: 2;
  position: absolute;
  display: block;
  top: 63px;
  right: 25px;

}

.contact-info p {
  text-align: right;
}
.contact-info a {
    padding-right: 0;
}
.work-time {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 10px;
}
.phone {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;

}
.phone-title {
  margin-top: 10px;

}

/*СЛАЙДЕР*/

.slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 60px;
  font-weight: 800;
}
.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

   background: #f26843;
   background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
   background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
   background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
   border-radius: 100px;
   box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;

}
#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}
#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}
#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

.special-offer {

  margin-bottom: 40px;
  color: #ffffff;
}
.special-ofer-left {
  box-sizing: border-box;
  padding:20px 20px 25px 20px;
  float: left;
  width: 560px;
  min-height: 230px;

  background: url(../img/strawberry_font.png) no-repeat center;
  background-size: cover;
    border-radius: 15px;
}
.special-ofer-right {
  box-sizing: border-box;
    padding: 20px 20px 25px 20px;
  float: right;
  width: 560px;
  min-height: 230px;
  background: url(../img/chockolate_font.png) no-repeat center;
  background-size: cover;
    border-radius: 15px;
  }
.special-offer-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}
.special-offer-description {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #fff;

}
.special-offer-btn {
  margin-top: 20px;
  float: right;
}
.btn {
  border: none;

  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  font-weight: bold;
  vertical-align: top;

  color: #ffffff;
  text-decoration: none;

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);

}
.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
/*ПОПУЛЯРНЫЕ ТОВАРЫ*/
.popular ul {
  list-style: none;
  padding: 0;
  margin: 0;

}
.popular li {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
}
.photo {
  position: relative;

}
.popular-hit {
  position: relative;
  width: 265px;
  margin-bottom: 35px;
}
.popular-hit:hover .underlayer {
  display: block;
}
.hit-image {
  position: absolute;
  top: 0;
  width: 60px;
  height: 60px;

}
.popular li:first-child {
  margin-left: 0px;
}
.price {
  position: absolute;
  bottom: 10px;
  color: #ffffff;
}
.number {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;

}
.rubznak {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;

}
.weight {
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
  text-transform: uppercase;
}
.item-description {
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 100;
  color: #ffffff;

}
.item-description-link {
  display: inline;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*О НАС*/
.about-us {
  box-sizing: border-box;
  padding: 30px 20px;
  width: 1150px;

  background: url(../img/vafla_font2.jpg) repeat;

  background-size: cover;
  border-radius: 15px;
  margin-bottom: 40px;

}

.about-us ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.description-left {
  margin-top: 30px;
  position: relative;
  float: left;
  width: 485px;
}

.description-right{
  margin-top: 30px;
  position: relative;
  float: right;
  width: 485px;
}
.width-text {
  padding-left: 55px;
  padding-bottom: 25px;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;;
}
.width-text:nth-child(2) {
  padding-bottom: 0;
}
.description-left li:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: url(../img/descr_icon1.png) no-repeat;
}
.description-left li:nth-child(2n)::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  background: url(../img/descr_icon2.png) no-repeat;
}
.description-right li:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: url(../img/descr_icon3.png) no-repeat;
}
.description-right li:nth-child(2n)::before {
  content: "";
  position: absolute;

  left: 0;
  width: 50px;
  height: 50px;
  background: url(../img/descr_icon4.png) no-repeat;
}
.index {
  margin-bottom: 40px;
}
.index-left {
  box-sizing: border-box;
  padding: 25px 20px 20px 20px;
  float: left;
  width: 560px;
  min-height: 220px;
  background: url(../img/news_font.png) no-repeat center;
  border-radius: 15px;
  background-size: cover;

}
.index-right {

  box-sizing: border-box;
  padding: 5px;
  position: relative;
  float: right;

  width: 560px;
  min-height: 220px;
  background: url(../img/post_pattern.jpg) repeat;
  border-radius: 15px;

}
.index-right-background {
  position: absolute;
    box-sizing: border-box;
      padding: 20px;
  width: 550px;
  min-height: 210px;
  background-color: #f8f7f4;
  border-radius: 15px;
  color: #5a5a5a;
}
.submit-title {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  margin: 0
}
.index-content {
  width: 300px;
  display: inline-block;;
  color: #000000;

}
.index-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
}
.news {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;

}
.submit {
  box-sizing: border-box;
    padding: 15px;
    width: 365px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    outline: none;
}

.news a {
    color: #000000;
}
.index-content-rigth {
  position: relative;
  width: 540px;
}


.submit-form {
  display: inline-block; */
      box-sizing: border-box;
      width: 515px;

      margin-top: 40px;
      outline: none;
}


.btn-submit {
  margin-top: -5px;
  border: none;

}

.map {
  position: relative;;
}
.adress-block {
  z-index: 2;
  position: absolute;
  top: -360px;
  right: 25px;
  overflow: auto;
  width: 240px;
  min-height: 305px;
  max-height: 410px;
  padding: 29px 25px 10px;
  border-radius: 15px;
  background-color: #fff;

}
.map-adress {
  display: block;
      margin-top: 3px;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      color: #343434;
}
.map-phone {
  display: block;
  margin-top: 3px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #343434;
}
.map-text {
  display: block;
    margin-bottom: 17px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #343434;
}

.btn-map {
  position: absolute;
  border: none;
  left: 25px;
  border: none;

  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  font-weight: bold;
  vertical-align: top;

  color: #ffffff;
  text-decoration: none;

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
  outline: none;
}
.btn-map:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);

}
.btn-map:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.page-footer {
  margin-top: 60px;
}
.share ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-footer {
  display: block;
  width: 1150px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
}

.share {
  float: left;
  width: 270px;
  padding: 10px;
  margin-right: 20px;
  text-align: center;

}
.share li {
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    background-color: transparent;
    vertical-align: top;



}
.sprite {
  width: 32px;
  height: 32px;
  background: url(../img/spritesheet.png) no-repeat;
  opacity: 0.8;
  display: block;
  border: 4px solid rgba(255,255,255,0.2);
  border-radius: 50%;


}
.social-tw {
  width: 32px;
  height: 32px;
  background-position: -5px -467px;
}
.social-inst {
  width: 32px;
  height: 32px;
  background-position: -5px -298px;
}
.social-fb {
  width: 32px;
  height: 32px;
  background-position: -5px -35px;
}
.social-vk {
  width: 32px;
  height: 32px;
  background-position: -5px -509px;
}

.footer-useful {

  float: left;
  margin-left: 50px;
  width: 400px;
  padding-top: 10px;
  display: block;

}
.footer-useful a {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;


}
.footer-useful li {
  display: inline-block;
  vertical-align: top;
  padding-left: 40px;


}
.heart {
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.heart::before {
  content: "";

  position: absolute;
  top: 0px;
  left: -25px;
  background: url(../img/spritesheet.png) no-repeat;
  width: 15px;
    height: 20px;
    background-position: -5px -106px;

}


.copyright {
  display: block;
}
.footer-copyright {

  display: block;
  width: 205px;
  float: right;

}
.footer-copyright p {
  margin: 8px 0 0 0;
  color: #ffffff;
}
.copyright-title {
  display: inline;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

/*CSS для Каталога*/
.catalog {
  margin-bottom: 40px;
}
.catalog ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog li {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;

}
.catalog li:first-child,
.catalog li:nth-child(5),
.catalog li:nth-child(9) {
  margin-left: 0;
}
.crumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.crumbs-list li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.crumbs-list a {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.current-page {
  color: #ffffff;

}

.filter {
  margin-bottom: 40px;
}
.filter-item {
  display: inline-block;
  margin-left: 15px;

}
.filter-item:first-child,
.filter-item:nth-child(4) {
  margin-left: 0;
}
.filter-item label {
  color: #ffffff;
}
.filter-name {
  padding-left: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: lighter;
  color: #ffffff;
}
.filer-sort {
  width: 195px;
}
.filer-price {
  width: 220px;
}
.fat-content {
  width: 415px;
}
.ingridients {
  width: 703px;
}
.submit-button {
  width: 150px;
}

.page-list-block {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.page-numeration {
  float: right;
}
.page-list {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  list-style: none;
}
.page-list li {
  display: inline-block;
}
.page-list a {
  padding: 5px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: lighter;
}

/*Ховер главного меню*/

/*


.hover-links:last-of-type {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.hover-links:hover {
  background: #fbded8;
}
*/
